html, body {
    margin: 0;
    padding: 0;
    background-color: black;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
}
